.modal {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.63);
  height: 100vh;
  z-index: 2;
}

.ReviewModal_outer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  background-color: #d0d0d0;
  height: 98%;
  max-height: 685px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 1.3em;
  animation-name: example;
  animation-duration: 300ms;
  z-index: 3;
}
.generate_btn {
  display: flex;
  justify-content: space-around;
}
.download_invoice {
  width: 45%;
}
.send_invoice {
  width: 45%;
  color: black;
  background-color: white;
}
.send_invoice:hover {
  background-color: #106bf3;
  color: white;
}

@keyframes example {
  from {
    top: 30%;
  }
  to {
    top: 50%;
  }
}
/* .ReviewModal_inner {
  width: 100%;
  background-color: white;
  height: 80%;
  border-radius: 10px;
  overflow-y: auto;
  padding: 1em;
}
.invoice_head {
  display: flex;
  justify-content: space-between;
}

.curr_date {
  color: rgb(94, 94, 94);
  font-weight: 200;
}
.date_amnt {
  text-align: right;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 1.4em;
}
.invoice_head div span {
  color: rgb(94, 94, 94);
  font-weight: 300;
  font-size: 0.9em;
}
.Billed_from {
  line-height: 1.4em;
}
.Billed_from h1 {
  font-size: 1.3em;
}
.Billed_from h3 {
  font-size: 0.8em;
}
.Billed_from p {
  color: rgb(94, 94, 94);
  font-size: 0.9em;
  font-weight: 800;
}
.Billed_to {
  margin-top: 2em;
  line-height: 1.2em;
}
.Billed_to h3 {
  font-size: 0.8em;
}
.Billed_to p {
  font-size: 0.8em;
}
.items {
  margin-top: 2em;
  width: 100%;
}
.items td,
.items th {
  border: 1px solid #ddd;
  font-size: 0.75em;
  padding: 6px;
  text-align: left;
}
.items tr:nth-child(even) {
  background-color: #f2f2f2;
}

.items tr:hover {
  background-color: #ddd;
}
.items th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #ffffff;
  color: black;
}
.inv_notes {
  margin-top: 3em;
  font-size: 0.8em;
} */
@media (max-width: 1025px) {
  .ReviewModal_outer {
    width: 80%;
  }
}
@media (max-width: 680px) {
  .ReviewModal_outer {
    width: 90%;
  }
  /* .ReviewModal_inner {
    padding: 0.5em 0.3em;
  } */
}
