.invoice_form {
  max-width: 860px;
  padding: 2em 1.5em;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1em;
}
@media (max-width: 1180px) {
  .invoice_form {
    max-width: 740px;
  }
}
@media (max-width: 1050px) {
  .invoice_form {
    max-width: 680px;
  }
}
@media (max-width: 990px) {
  .invoice_form {
    max-width: 640px;
  }
}
@media (max-width: 950px) {
  .invoice_form {
    max-width: 600px;
  }
}
@media (max-width: 900px) {
  .invoice_form {
    max-width: 570px;
  }
}
@media (max-width: 860px) {
  .invoice_form {
    max-width: 100%;
  }
}
